{{page-title "AppHome"}}

<div class="logo">
    <h4>Welcome {{this.user}}</h4>
</div>
<div class="search">
    <i class="fa fa-search" {{action 'searchUser'}}></i>
    <input type="text" placeholder="search name" id="search-box">
</div>
<div id="menu" {{on 'mouseenter' this.toggleMenu}} {{on 'mouseleave' this.toggleMenu}}>
    <i class="fa fa-list" ></i>
    {{#if this.menu}}
        <div class="menu">
            <LinkTo @route="add-contact" >Add contact</LinkTo>
            <LinkTo @route="log-out" class="logOut">Log Out</LinkTo><br>
        </div>
    {{/if}}
</div>
<div class="contacts">
    {{!-- {{#each this.datas as |json|}}
        <div class="name" {{on "click" (fn this.getChat  json.index )}} id={{json.index}}>
            <span class="profile"></span> 
            <p id="name">{{json.friend}}</p> 
        </div>
    {{/each}} --}}
</div>
<div class="container">
</div>
{{#if this.keypad}}
    <div class="keypad"><br>
        <center>
            <input type="text" class="keyboard" id="message" placeholder="Type a message..." {{on "keypress" (fn this.typing this)}} >
            <i class="fa fa-send"  {{action 'sendMessage'}}></i>
        </center>
    </div>
{{/if}}

{{!-- {{#if this.contact}}
    <center><br><br><br><br>
        <div class="addContact"><br>
            <input type="text" id="f_name" placeholder="Name"><br><br>
            <input type="number" id="f_number" placeholder="Mobile number"><br>   <br>
            <button>Save</button>
        </div>
    </center>
{{/if}} --}}